@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Biblioteca Pratic</h1>
    <p>Acesse o nosso site para mais informações.
        <a href="https://www.site.praticsistemas.com.br/">Pratic Sistemas</a>.</p>
</div>
